@model TilausDB2.Models.Vierailija_kohde

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Poista</title>
</head>
<body>
    <h3>Varmista poisto!</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Maa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Maa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kaupunki)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kaupunki)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Henkilomaara)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Henkilomaara)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <br />
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);"><img src="~/Icons/arrow-left-circle.svg" width="24" height="24" /></a>
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Talenna" type="image" src="~/Icons/x.svg" />
                    </div>
                </div>
            </div>
     
        }
    </div>
</body>
</html>
