@model IEnumerable<TilausDB2.Models.Asiakkaat>

@{
    ViewBag.Title = "Asiakas lista";
}

<h2>Asiakkaat</h2>

<p>
    <a class="badge bg-primary" data-toggle="tooltip" data-placement="bottom" title="Lisää tuote" href="/Asiakkaat/Create"><img src="~/Icons/plus.svg" width="24" height="24" aria-label="Luo" />    Asiakas</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sähköposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
        </td>
        <td>
            
            <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editoi" href="/Asiakkaat/Edit?id=@item.AsiakasID"><img src="~/Icons/pen.svg" width="12" height="12" /></a>
            
            <a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Lisätiedot" href="/Asiakkaat/Details?id=@item.AsiakasID"><img src="~/Icons/three-dots.svg" width="12" height="12" /></a>
            
            <a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Poista" href="/Asiakkaat/Delete?id=@item.AsiakasID"><img src="~/Icons/x-circle.svg" width="12" height="12" /></a>
        </td>
    </tr>
}

</table>
