﻿@model TilausDB2.Models.Logins

@{
    ViewBag.Title = "Kotisivu";
}


<body>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-2">

                    <h4 style="text-shadow:3px 3px white">TilausDB hallinta</h4>
                    <br />

                    @if (Session["UserName"] == null)
                    {
                        <div class="table table-hover; row mb-1">
                            <a class="btn btn-primary" id="LoginButton">Kirjaudu</a>
                            <p></p>
                            <a class="btn btn-primary" href="/Tuotteet/CardIndex"> Esittelynäkymä </a>
                            <p></p>
                            <br />
                            <br />
                            <br />
                        </div>
                    }
                    else
                    {
                        <div class="table table-hover; row mb-1">
                            <a class="btn btn-primary" href="/Tuotteet/CardIndex">Esittelynäkymä </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Asiakkaat/Index"> Asiakkaat </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Asiakkaat/Create">Lisää asiakas </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Tuotteet/Index"> Tuotteet </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Tuotteet/Create"> Lisää tuote </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Tilaukset/Index"> Tilaukset </a>
                            <p></p>
                            <a class="btn btn-primary" href="/Tilaukset/TilausOtsikot"> Tilausotsikot </a>
                            <p></p>
                       

                        </div>
                    }
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8"><h3>Myynti ja vierailijat vuositasolla</h3></div>
                        <canvas id="myChart" width="200" height="100"></canvas>
                    </div>
                    <br />
                  
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8"><h3>Vierailijat maittain</h3></div>
                        <canvas id="myChart2" width="200" height="100"></canvas>
                    </div>
                    <br />
                 
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8"><h3>Vierailijat kaupungittain</h3></div>
                        <canvas id="myChart3" width="200" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>


@section scripts {
    @* Modal login *@

    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginButton').click(function () {
                $('#LoginRuutu').modal('show');
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @* Chart1 *@

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
            // Retrieve data passed from controller
            var labels = @Html.Raw(Json.Encode(ViewBag.Labels));
            var salesData = @Html.Raw(Json.Encode(ViewBag.SalesData));
            var visitorData = @Html.Raw(Json.Encode(ViewBag.VisitorData));

            console.log(labels);
            console.log(salesData);
            console.log(visitorData);

            // Create a new chart instance
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        axis: 'y',
                        label: 'Kokonaismyynti',
                        data: salesData,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Vierailijat',
                        data: visitorData,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y', 
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            title: {
                                display: true,
                                labelString: 'Custom Chart Title'
                            }
                        }]
                    }

                }
            });
    </script>

    @* Chart2 *@

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
            // Retrieve data passed from controller
            var Maa = @Html.Raw(Json.Encode(ViewBag.maa));
            var Kaupunki = @Html.Raw(Json.Encode(ViewBag.Kaupunki));
            var HenkiloLKM = @Html.Raw(Json.Encode(ViewBag.HenkilöLKM));
            var TotalHenkilomaara = @Html.Raw(Json.Encode(ViewBag.TotalHenkilomaara));

            // Create a new chart instance
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Suomi', 'Italia', 'Saksa', 'Ruotsi', 'Tanska'],
                    datasets: [{
                        label: 'Henkilömäärä',
                        data: TotalHenkilomaara,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }

                }
            });
    </script>
    @* Chart3 *@
    <script>
            // Retrieve data passed from controller
            var Kaupunki = @Html.Raw(Json.Encode(ViewBag.Kaupunki));
            var HenkiloLKM = @Html.Raw(Json.Encode(ViewBag.HenkilöLKM));

            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Kaupunki,
                    datasets: [{
                        label: 'Henkilömäärä',
                        data: HenkiloLKM,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }

                }
            });
    </script>
}
@{Html.RenderPartial("_LoginModal");}


