@model IEnumerable<TilausDB2.Models.Tuotteet>
@{
    ViewBag.Title = "Index";
}
<h2>Tuotteet</h2>
<table class="table table-sm">
    <thead>
        <tr class="table-light">
            <th scope="col">Artikkeli</th>
            <th><a class="btn btn-outline-info" href="/Tuotteet/Create"><img src="~/Icons/plus.svg" width="24" height="24" />    Tuote</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            decimal? hinta = item.Ahinta;
            <tr>
                <td>
                    <div class="container">
                        <div class="col">Tuotenro @item.TuoteID</div>
                        <div class="row row-cols-5">
                            <div class="col"><a href="@item.Kuva" ; target="_blank"><img style="height: 100px; width: 100px; display: block;" src="@item.Kuva" /><img /></a></div>
                            <div class="col">@item.Nimi</div>
                            <div class="col">@item.Lisätieto_1</div>
                            <div class="col-4">@item.Lisätieto_2</div>
                            <div class="col div">@hinta €</div>
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btn btn-info" href="/Tuotteet/Edit?id=@item.TuoteID"><img src="~/Icons/pen.svg" width="12" height="12" /></a>
                    <a class="btn btn-outline-dark" href="/Tuotteet/Details?id=@item.TuoteID"><img src="~/Icons/three-dots.svg" width="12" height="12" /></a>
                    <a class="btn btn-outline-dark" href="/Tuotteet/Delete?id=@item.TuoteID"><img src="~/Icons/x-circle.svg" width="12" height="12" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>


