@model TilausDB2.Models.Tilaukset

@{
    ViewBag.Title = "Uusi tilaus";
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 

    <script type="text/javascript">
        $(document).ready(function () {
            // Function to calculate Toimituspvm based on Tilauspvm
            $("#Tilauspvm").change(function () {
                var tilauspvm = new Date($(this).val());
                if (!isNaN(tilauspvm.getTime())) {
                    var toimituspvm = new Date(tilauspvm);
                    toimituspvm.setDate(tilauspvm.getDate() + 14);
                    var formattedToimituspvm = toimituspvm.toLocaleDateString('fi-FI');
                    $("#Toimituspvm").val(formattedToimituspvm);
                }
            });

            // Datepicker
            $(".datefield").datepicker();
        });
    </script>
}



<h3>Tilaukset: Luo tilaus asiakkaalle</h3>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AsiakasID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AsiakasID", null, htmlAttributes: new { @class = "form-control", id = "Asiakas" })
                @Html.ValidationMessageFor(model => model.AsiakasID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Toimitusosoite, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Toimitusosoite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Toimitusosoite, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Toimitusosoite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Toimitusosoite", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Toimitusosoite, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Postinumero, "Postitoimipaikka", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Postinumero", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Postinumero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tilauspvm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Tilauspvm, new { htmlAttributes = new { @class = "form-control", type="date" } })
                @Html.ValidationMessageFor(model => model.Tilauspvm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Toimituspvm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Toimituspvm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Toimituspvm, "", new { @class = "text-danger" })
            </div>
        </div>

        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Luo" class="btn btn-primary" />
                <a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
            </div>
        </div>
    </div>
}

