@model TilausDB2.Models.Tilaukset

@{
    ViewBag.Title = "Lisätiedot";
}
<div>
    <h3>Erittely</h3>
    <p></p>
    <h5>Tilaus: ID @Html.DisplayFor(model => model.TilausID)</h5>
    <p></p>
    <h6>Tilaaja: @Html.DisplayFor(model => model.Asiakkaat.Nimi)</h6>
    <p></p>
    <h6>Tomitusosoite: @Html.DisplayFor(model => model.Toimitusosoite)</h6>
    <p></p>
    <h6>Postinumero: @Html.DisplayFor(model => model.Asiakkaat.Postinumero)</h6>
    <p></p>
    <h6>Postitoimipaikka: @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)</h6>
    <p></p>
    <h6>Tilauspvm: @Html.DisplayFor(model => model.Tilauspvm)</h6>
    <p></p>
    <h6>Toimituspvm: @Html.DisplayFor(model => model.Toimituspvm)</h6>


</div>
<table class="table">
    <tr>
        <th>Tilausrivi ID</th>
        <th>Tuotteet</th>
        <th>Määrä</th>
        <th>Yhteensä</th>
    </tr>

    @foreach (var tilausrivi in Model.Tilausrivit)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => tilausrivi.TilausriviID)</td>
            <td>@Html.DisplayFor(modelItem => tilausrivi.Tuotteet.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => tilausrivi.Maara)</td>
            <td>
                @{
                    var yht = tilausrivi.Maara * tilausrivi.Ahinta;
                }
                @Html.DisplayFor(modelItem => yht)
            </td>
            <td>
                <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Muokkaa" href="/Tilausrivit/Edit?id=@tilausrivi.TilausriviID"><img src="~/Icons/pen.svg" width="20" height="20" /></a>
                <a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Poista" href="/Tilausrivit/Delete?id=@tilausrivi.TilausriviID"><img src="~/Icons/x-circle.svg" width="20" height="20" /></a>
            </td>
        </tr>
    }
</table>

<div class="row-cols-6"><a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);"><img src="~/Icons/arrow-left-circle.svg" width="24" height="24" /></a></div>
