@model IEnumerable<TilausDB2.Models.Tilaukset>
@{
    ViewBag.Title = "Tilausten hallinta";
}

<div class="row">
    <div class="col-8">
        <h3>Tilaukset</h3>
    </div>
    <div class="col-auto">
        <a class="badge bg-primary" data-toggle="tooltip" data-placement="bottom" title="Lisää tuote" href="/Tilaukset/Create?returnUrl=Index"><img src="~/Icons/plus.svg" width="24" height="24" aria-label="Luo" />    Tilaus</a>
    </div>
    <div class="col-auto">
        <a class="badge bg-primary" data-toggle="tooltip" data-placement="bottom" title="Lisää tuote" href="/Tilaukset/TilausOtsikot"><img src="~/Icons/list.svg" width="24" height="24" aria-label="Luo" />TilausOtsikot</a>
    </div>
    <div class="col-auto">
        <a class="badge bg-primary" data-toggle="tooltip" data-placement="bottom" title="Lisää tuote" href="/Tilaukset/Ordersummary"><img src="~/Icons/list.svg" width="24" height="24" aria-label="Luo" />OrderSummary</a>
    </div>


</div>

<table class="table">
    <thead>
        <tr>
            <th>Tilausnumero</th>
            <th>Tilauspvm</th>
            <th>Asiakas</th>
            <th>Tilauksen hinta</th>
            <th>Tilauksen hallinta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TilausID)</td>
                <td>@Html.ValueFor(modelItem => item.Tilauspvm, "{0:d}")</td>
                <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
                <td>
                    @{
                        var yht = item.Tilausrivit.Sum(t => t.Maara * t.Ahinta);
                    }
                    @Html.DisplayFor(modelItem => yht)
                </td>

                <td>
                        
                    <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Lisää tuotteita" href="/Tilausrivit/Create?id=@item.TilausID"><img src="~/Icons/plus-square-fill.svg" width="12" height="12" /></a>
                    <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Erittely" href="/Tilaukset/Details?id=@item.TilausID"><img src="~/Icons/list-ol.svg" width="12" height="12" /></a>
                    <a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Editoi" href="/Tilaukset/Edit?id=@item.TilausID"><img src="~/Icons/pen.svg" width="12" height="12" /></a>
                    <a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Poista" href="/Tilaukset/Delete?id=@item.TilausID"><img src="~/Icons/x.svg" width="12" height="12" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            const tbody = table.querySelector('tbody');
            Array.from(tbody.querySelectorAll('tr'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => tbody.appendChild(tr));
        })));
    </script>
}
