﻿@model IEnumerable<TilausDB2.ViewModels.OrderRows>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TilausID)</th>
            <th>@Html.DisplayNameFor(model => model.TuoteID)</th>
            <th>@Html.DisplayNameFor(model => model.Ahinta)</th>
            <th>@Html.DisplayNameFor(model => model.Maara)</th>
            <th>@Html.DisplayNameFor(model => model.Nimi)</th>
            <th>@Html.DisplayNameFor(model => model.Kuva)</th>
            <th>@Html.DisplayNameFor(model => model.Lisätieto_1)</th>
            <th>@Html.DisplayNameFor(model => model.Lisätieto_2)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TilausID)</td>
                <td>@Html.DisplayFor(modelItem => item.TuoteID)</td>
                @{
                    string price = @item.Ahinta.ToString("0.00");
                }
                <td>@price</td>
                <td>@Html.DisplayFor(modelItem => item.Maara)</td>
                <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
                <td>@Html.DisplayFor(modelItem => item.Kuva)</td>
                <td>@Html.DisplayFor(modelItem => item.Lisätieto_1)</td>
                <td>@Html.DisplayFor(modelItem => item.Lisätieto_2)</td>
                <td>
                    <a class="btn btn-outline-dark" href="/Tilausrivit/Edit?TilausID=@item.TilausID&TuoteID=@item.TuoteID"><img src="~/Icons/pen.svg" width="12" height="12" /></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
